<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>
<body>
<center>
    <h1 >Mi aplicación Django</h1>
    <h2>Lista de Estudiantes</h2>
</center>   
<a href="/inicio/"><--Volver</a>
<br>
<br>
{% for Estudiante in Estudiantes%}
<article style="border:solid 1px">
<p>{{Estudiante.apellido}}</p>
<p>{{Estudiante.nombres}}</p>
<p>{{Estudiante.materia}}</p>
<p>{{Estudiante.comision}}</p>
</article>
{% endfor %}

</body>
</html>